<template>
  <div id="home">
    <div class="container-add-item">
      <b-button variant="outline-primary" v-on:click="modalShow = !modalShow">Add Match</b-button>
    </div>
    <vuetable ref="vuetable"
              :api-mode="false"
              :data="localData"
              :fields="fields"
              data-path=""
              pagination-path=""
    >
      <template slot="teams" slot-scope="props">
        <div class="container-teams" v-if="props.rowData.teams">
          <div class="container-labels">
            <div class="label">Home</div>
            <div class="label">Away</div>
          </div>
          <div class="container-labels" v-if="props.rowData.teams.home.name && props.rowData.teams.away.name">
            <div class="label-team">{{props.rowData.teams.home.name}}</div> -
            <div class="label-team">{{props.rowData.teams.away.name}}</div>
          </div>
          <div v-else>N/D</div>
        </div>
      </template>
      <template slot="date" slot-scope="props">
        <div class="container-teams" v-if="props.rowData.time">
          <div class="label-team">{{props.rowData.time.date}}</div>
        </div>
      </template>
      <template slot="time" slot-scope="props">
        <div class="container-teams" v-if="props.rowData.time">
          <div class="label-team">{{props.rowData.time.time}}</div>
        </div>
      </template>
      <template slot="result" slot-scope="props">
        <div class="container-results" v-if="props.rowData.result">
          <div class="container-labels">
            <div class="label">Home</div>
            <div class="label">Away</div>
          </div>
          <div class="container-labels" v-if="props.rowData.result.home != null && props.rowData.result.away != null">
            <div class="label-team">{{props.rowData.result.home}}</div>
            <div class="label-team">{{props.rowData.result.away}}</div>
          </div>
          <div v-else>N/D</div>
        </div>
      </template>
      <template slot="delete" slot-scope="props">
        <div class="container-teams">
          <b-button variant="danger" v-on:click="deleteRow(props.rowData)">Delete</b-button>
        </div>
      </template>
    </vuetable>

    <b-modal id="modal-1" title="New match" v-model="modalShow">
      <b-row class="container-input">
        <b-col>
          <b-form-input v-model="match.result.home" placeholder="Result home"></b-form-input>
        </b-col>
        <b-col>
          <b-form-input v-model="match.result.away" placeholder="Result away"></b-form-input>
        </b-col>
      </b-row>
      <b-row class="container-input">
        <b-col>
          <b-form-input v-model="match.teams.home.name" placeholder="Team home"></b-form-input>
        </b-col>
        <b-col>
          <b-form-input v-model="match.teams.away.name" placeholder="Team away"></b-form-input>
        </b-col>
      </b-row>

      <div slot="modal-footer">
        <b-button class="mt-3" variant="outline-primary" block @click="addNewItem">Add</b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { Vuetable } from 'vuetable-2'

export default {
  name: 'Home',
  components: { Vuetable },
  data () {
    return {
      modalShow: false,
      match: {
        time: {
          time: '',
          date: ''
        },
        result: {
          home: 0,
          away: 0
        },
        teams: {
          home: {
            name: ''
          },
          away: {
            name: ''
          }
        }
      },
      fields: [
        {
          name: '_id',
          title: 'Id'
        },
        {
          name: 'teams',
          title: 'Teams',
          width: '20%'
        },
        {
          name: 'date',
          title: 'Date'
        },
        {
          name: 'time',
          title: 'Time'
        },
        {
          name: 'result',
          title: 'Result'
        },
        {
          name: 'delete',
          title: 'Delete'
        }
      ],
      localData: {}
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    getData: function () {
      this.$http.get('https://www.dontouch.ch/json/cc.json').then((resp) => {
        if (resp && resp.status === 200) {
          const responseBody = resp.data
          if (responseBody.doc && responseBody.doc[0].data) {
            this.localData = responseBody.doc[0].data.matches
          }
        }
      })
    },
    deleteRow: function (rowData) {
      // cancellazione locale
      delete this.localData[rowData._id]
      this.$refs.vuetable.normalizeFields()
      /*
      ESEMPIO CHIAMATA CANCELLAZIONE DI UN ITEM
      this.$http.delete('URL/<id>/  id = rowData['_id']').then(() => {
        if (resp && resp.status === 200) {
          // OK
        }
      }) */
    },
    addNewItem: function () {
      const timeZone = new Date()
      const date = timeZone.getDate() + '/' + timeZone.getMonth() + '/' + timeZone.getFullYear()
      const time = timeZone.getHours() + ':' + timeZone.getMinutes()
      const randomId = Math.floor(Math.random() * 100000)
      this.match.time.time = time
      this.match.time.date = date
      this.match._id = randomId
      if (this.localData[randomId] === undefined) {
        this.localData[randomId] = this.match
      } else {
        console.log('errore match già presente')
      }
      this.$refs.vuetable.normalizeFields()
      this.$refs.vuetable.refresh()
      this.modalShow = false
      /*
      ESEMPIO AGGIUNTA NUOVO MATCH
      this.$http.post('URL, data = {oggetto preso in ingresso dalla funzione o letto dal data}).then(() => {
        if (resp && resp.status === 201) {
           this.$refs.vuetable.normalizeFields()
        }
      }) */
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="less">

#modal-1 {
  .container-input {
    padding: 10px 0px;
  }
}
#home {
  width: 100%;
  .container-add-item {
    padding: 20px;
    float: right;
  }
  .vuetable {
    width: 100%;
    padding: 30px;
    .container-labels{
      display: flex;
      justify-content: space-between;

      .label {
        font-size: 12px;
      }
      .label-team {
        font-weight: bold;
      }
    }
  }
}
</style>
